AMBIENTE=PROD
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=usuario_do_banco
DB_PASSWORD="senha_do_banco"
DB_NAME=nome_do_banco
PORT=3000
API_SECRET=insira_aqui_um_hash_md5_ou_senha_segura
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
